body {
  background-color: #856;
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

h1, h2 {
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  color: white;
}

.choice {
  color: white;
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 10px;

}

div.choice {
  margin-top: 15px;
}

span {
  background-color: #258;
  padding: 10px;
}

p {
  padding: 10px;
  background-color: black;
  width: 100%;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

/* Head up display */
#head-up-display {
  display: flex;
  justify-content: space-around;
}

div#head-up-display p {
  background-color: #658;
  color: white;
  font-size: 1.5rem;
}

#progress-bar {
  width: 200px;
  height: 2rem;
  background-color: #698;
  border: 1px solid red;
}

#progress-fill {
  background-color: yellow;
  width: 0;
  height: 100%;
}
